<div class="container mt-4">
  <div class="row justify-content-md-center">
    <div class="col-8">
    <br><br><br><br>
    <br><br><br>
      <div class="row justify-content-md-center">
        <div class="column justify-content-md-center container mt-3">
          <h1 class="row justify-content-md-center"><strong>ONLINE CONVERTER</strong></h1>
        </div>
      </div>
      <br>

      <form action="/new" method="post">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Base" name="firstBase">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Base" name="secondBase">
          </div>

        </div>

        <div class="row">
          <div class="col">
            <select class="form-control" name="firstSelect">
              <option>AUD</option>
              <option>BGN</option>
              <option>BRL</option>
              <option>CAD</option>
              <option>CHF</option>
              <option>CNY</option>
              <option>CZK</option>
              <option>DKK</option>
              <option>EUR</option>
              <option>GBP</option>
              <option>HKD</option>
              <option>HRK</option>
              <option>HUF</option>
              <option>IDR</option>
              <option>ILS</option>
              <option>INR</option>
              <option>ISK</option>
              <option>JPY</option>
              <option>KRW</option>
              <option>MXN</option>
              <option>MYR</option>
              <option>NOK</option>
              <option>NZD</option>
              <option>PHP</option>
              <option>PLN</option>
              <option>RON</option>
              <option>RUB</option>
              <option>SEK</option>
              <option>SGD</option>
              <option>THB</option>
              <option>TRY</option>
              <option>USD</option>
            </select>

          </div>
          <div class="col">
            <select class="form-control" name="secondSelect">
              <option>AUD</option>
              <option>BGN</option>
              <option>BRL</option>
              <option>CAD</option>
              <option>CHF</option>
              <option>CNY</option>
              <option>CZK</option>
              <option>DKK</option>
              <option>EUR</option>
              <option>GBP</option>
              <option>HKD</option>
              <option>HRK</option>
              <option>HUF</option>
              <option>IDR</option>
              <option>ILS</option>
              <option>INR</option>
              <option>ISK</option>
              <option>JPY</option>
              <option>KRW</option>
              <option>MXN</option>
              <option>MYR</option>
              <option>NOK</option>
              <option>NZD</option>
              <option>PHP</option>
              <option>PLN</option>
              <option>RON</option>
              <option>RUB</option>
              <option>SEK</option>
              <option>SGD</option>
              <option>THB</option>
              <option>TRY</option>
              <option>USD</option>
            </select>
          </div>
          <br><br><br>
        </div>


        <button type="submit" class="btn btn-info btn-block">GIVE ME!</button>
      </form>

      <div id="forImg" class="row justify-content-md-center">
        {{!-- /for image --}}
      </div>

    </div>
  </div>
</div>
